

body{
    background-color:rgb(222, 76, 105);
}
table
td{font-weight: bold;
    color: aliceblue;
    text-align: center;
    background-color: pink;

}
h2{
    color: aliceblue;
    text-align: center;

}
h3{
    color: aliceblue;
    text-align: center;
}
img{
    width: 400px;
    border-radius: 15px;


}

.nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
   

}
 .nav a {
    margin: 1rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
    
 }

 .nav a:hover {
    color: aqua;
 }


