* {
  font-family: "Nunito", sans-serif;
}

h3 {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

.nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.nav a {
  margin: 1rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav a:hover {
  color: red;
}

.div {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.sec1 {
  padding: 10px;
}
.sec1 {
  font-size: x-large;
  text-align: center;
}
.sec1::first-letter {
  font-size: 200%;
  color: red;
}

.container1 {
  display: grid;
  padding-top: 30px;
  grid-template-columns: auto auto auto;
  padding-left: auto;
  padding-right: auto;
  align-items: center;
  justify-content: center;
}

.container2 {
  display: grid;
  padding-top: 30px;
  grid-template-columns: auto auto auto;
  padding-left: auto;
  padding-right: auto;
  align-items: center;
  justify-content: center;
}

#img1 {
  grid-column: 4;
  grid-row: span 4;
}

.container #img1 {
  width: 80%;
  border-radius: 900px;
  padding: 10px;
}

.img {
  width: 200px;
  border-radius: 100%;
}

.img2 {
  width: 200px;
  height: 210px;
  border-radius: 100%;
}

.sec1 p {
  color: black;
  text-align: left;
}
.div #p {
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}
.ourProducts {
  grid-column: 2;
  grid-row: 1;
  font-size: larger;
}

/* media qeuries */
@media screen and (max-width: 700px) {
  .container1 {
    display: flex;
    flex-direction: column;
    padding-left: auto;
    padding-right: auto;
    align-items: center;
    justify-content: center;
  }

  .container2 {
    display: flex;
    flex-direction: column;
    padding-left: auto;
    padding-right: auto;
    align-items: center;
    justify-content: center;
  }
}

#container_cards {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

#container_cards img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
